.contact {
    margin-top: 50px;
    min-height: 76.8vh;
  }
  
  .contact-picture {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 1px 0px 0px var(--white);
    height: 550px;
    width: auto;
  }
  
  .contact-picture-bg {
    height: 92%;
    width: 92%;
    background-image: url("../../images/project-2.jpg");
    background-size: cover;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  @media screen and (max-width: 993px) {
    .contact-picture {
        display: none;
    }

  }