.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 40px;
    min-height: 72.6vh;
}

.skills-center {
  padding-left: 400px;
  padding-top: 45px;
}

@media screen and (max-width: 1400px) {
  .center {
    padding-left: 280px;
  }
}

@media screen and (max-width: 1200px) {
  .center {
    padding-left: 180px;
  }
}

@media screen and (max-width: 990px) {
  .center {
    padding-left: 80px;
  }
}

@media screen and (max-width: 575px) {
  .center {
    padding-left: 40px;
  }
}

@media screen and (max-width: 400px) {
  .center {
    padding-left: 20px;
  }
}