<h1>Contacto</h1>

<h3>Formulario de Contacto</h3>

<form>
    <label>Nombre: </label>
    <input type="text" name="nombre">
    <br><br>
    <label>Asunto:  </label>
    <input type="text" name="asunto">
    <br><br>
    <label>Mensaje: </label>
    <textarea name="mensaje" cols="30"></textarea>
    <br><br>
    <input type="submit" value="Enviar">
</form>