<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <img src="../public/images/11.PNG"/ alt="Logo" width="300px" height="200px">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Sobre Mí</a></li>
        <li><a href="/contact">Contacto</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
